
.container{
    max-width:1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-color);
    z-index: 100;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

/* Logo */

.logo{
  font-size: 1.4rem;
  font-weight:600;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 0 auto 0 0;
  text-decoration: none;
}

.logo span{
  color: var(--main-color)
}

/* Nav Icons */
.nav-icons{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.nav-icons .bx{
  font-size: 20px;
  height: 44px;
  width: 44px;
  display: grid;
  place-items: center;
  color: var(--text-color);
  background: #21232b;
  border-radius: 50%;
  cursor: pointer;
}
#bell-icon span{
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  top: 10px;
  right: 14px;
}

.signInButton{
  background-color: #ffffff; /* Set your desired background color */
  color: #000000; /* Set your desired text color */
  border: 1px solid #242c37;
  border-radius: 1000px;
  text-align: center;
}

.logInButton{
  margin-right: 10px;
}

.signInButton:hover {
  background-color: #f85252; /* Set the same background color as default */
  color: #ffffff; /* Set the same text color as default */
  outline: none; /* Remove the default focus outline */
}

.menu-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: var(--light-color);
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div{
  display: block;
  background: var(--text-color);
  height: 2px;
  width: 25px;
  transition: 0.3s;
}

.move line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move line2{
  opacity: 0;
}
.move line3{
  transform: rotate(45deg) translate(-5px, -5px);
}
/* Menu */
.menu{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 14, 0.9);
  z-index: 106;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  clip-path: circle(0% at 100% 0%);
}
.menu.active {
  clip-path: circle(144% at 100% 0%);
}

.menu img{
  width: 700px;
}
.navbar{
  display: grid;
  row-gap: 1rem;
  text-align: right;
  padding-right: 2rem;
}
.navbar a{
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.2s;
}
.navbar a:hover{
  border-bottom: 4px solid var(--main-color);
  font-size: 1.8rem;
  text-decoration: none;
}

/*Custom Scroll Bar */
.progress{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 300;
  background-color: #000000;
}
.progress-bar{
  height: 4px;
  background: var(--main-color);
  width:0%;
}