.game-image {
    max-width: 300px;
    height: auto;
  }
  
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    text-align: center;
    max-width: 400px; /* Adjust the max-width to your preference */
    margin: 0 auto; /* Centers the container horizontally */
  }
  
  .loading-container {
    margin-top: 20px; /* Add a margin between the loading message and other content */
  }

  .card{
    color: var(--text-color);
    background: var(--dark-color); 
}
  