<div class="grid align__item">

    <div class="register">
        <img src="/assets/logo6.svg" alt="LOGO" class="site__logo">
        <h2>Sign Up</h2>

        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form__field">
                <input
                        placeholder="firstname"
                        type="firstname"
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors['required']">First Name is required</div>
                </div>
            </div>

            <div class="form__field">
                <input
                        placeholder="lastname"
                        type="lastname"
                        formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors['required']">Last Name is required</div>
                </div>
            </div>

            <div class="form__field">
                <input
                        type="email"
                        formControlName="email"
                        placeholder="info@mailaddress.com"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors['required']">Email is required</div>
                    <div *ngIf="f.email.errors['email']">
                        Email is not a valid email
                    </div>
                </div>
            </div>

            <div class="form__field">
                <input
                        type="password"
                        formControlName="password"
                        placeholder="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors['required']">Password is required</div>
                    <div *ngIf="f.password.errors['minlength']">
                        Password is not valid (length should have at least 6 characters)
                    </div>
                </div>
            </div>

            <div class="form__field">
                <input
                        type="password"
                        formControlName="confirmPassword"
                        id="confirmPassword"
                        placeholder="confirm password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                        required
                />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors && f.confirmPassword.errors['required']">Confirm password is required</div>
<!--                    <div *ngIf="f.confirmPassword.errors && f.confirmPassword.errors['passwordMismatch']">-->
<!--                        The two passwords must match-->
<!--                    </div>-->

                </div>

                <div class=" form__field" role="alert" id="passwordAlert">
                    <strong>The passwords must match!</strong>
                </div>
            </div>

            <div class="form__field">
                <select
                        formControlName="gender"
                        class="form-select form__field"
                        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                >
                    <option value="" class="selectTitle" selected disabled hidden >Select your gender:</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors['required']">Gender is required</div>
                </div>
            </div>

            <div class="form__field">
                <button class="btn btn-primary custom-btn" type="submit">
          <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
          ></span>
                    Sign up
                </button>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="success"  >
                <strong>Successful registration! </strong> You will be redirected to the login page.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </form>

        <p>Already have an account? <a href="/login">Log in</a></p>

    </div>

</div>

