* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #354152;
    color: #7e8ba3;
    font: 300 1rem/1.5 Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100%;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.align__item--start {
    align-self: flex-start;
}

.align__item--end {
    align-self: flex-end;
}

.site__logo {
    margin-bottom: 2rem;
    width: 50%;
    height: 50%;
    /*border: 5px solid #f85252;*/
}

input {
    border: 0;
    font: inherit;
}

input::placeholder {
    color: #7e8ba3;
}

.form__field {
    margin-bottom: 1rem;
}

.form input {
    outline: 0;
    padding: 0.5rem 1rem;
}

.form input[type="email"], .form input[type="password"], .form input[type="lastname"], .form input[type="firstname"] {
    width: 100%;
}

.grid {
    margin: 0 auto;
    max-width: 25rem;
    width: 100%;
}

h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
    color: #1b182b;
}

p {
    color: #1b182b;
}

svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: #7e8ba3;
}

#success {
    color: #F35F40;
    background-color: rgba(255, 114, 114, 0.11);
    display: none;
}

#passwordAlert {
    display: none;
    color: #f85252;
}

.custom-btn {
    background-color: #ffffff; /* Set your desired background color */
    color: #000000; /* Set your desired text color */
    border: 1px solid #242c37;
    border-radius: 999px;
    text-align: center;
}

.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
    background-color: #000000; /* Set the same background color as default */
    color: #ffffff; /* Set the same text color as default */
    outline: none; /* Remove the default focus outline */
}

.register {
    background-color: #ffffff;
    box-shadow: 0 0 250px #f85252;
    text-align: center;
    padding: 4rem 2rem;
    height: auto;
    border-radius: 25px;
}

.selectTitle{
    color: #7e8ba3;
}

.register input, select {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}

.register input[type="email"], .register input[type="password"] {
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}