/* You can add global styles to this file, and also import other style files */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
}

/* Variables */
:root{
  --main-color: #Fa5353;
  --dark-color: #1b182b;
  --light-color: #322f40;
  --text-color: hsl(0, 0%, 91%);
}

::selection {
  color: var(--text-color);
  background: var(--main-color);
}

img{
  width: 100%;
}
body{
    color: var(--text-color);
    background: var(--dark-color); 
/* DISPLAY Block for Default Scroll Bar */
}
html::-webkit-scrollbar{
  display:none;
}