<div class="card">
  <h4 class="card-header">Store</h4>
  <div class="card-body">
    <hr>
    <div class="game-grid">
      <div *ngFor="let game of games" class="game-item" (click)="viewGameDetails(game.id)">
        <div class="image-container">
          <a [routerLink]="['/game', game.id]">
            <img class="game-image" [src]="game.imageUrl" alt="Game Image">
          </a>
        </div>
        <h6>{{ game.name }}</h6>
        <p>{{ game.publisherName }}</p>
        <p>Price: {{ game.price }}</p>
      </div>
    </div>
  </div>
</div>
