.game-grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .game-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}


.game-item {
  text-align: center;
}

.image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.game-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.card{
  color: var(--text-color);
  background: var(--dark-color); 
}