<div class="card">
  <h4 class="card-header">Store</h4>
  <div class="card-body">
    <hr>
    <div class="game-grid">
      <div *ngFor="let game of games" class="game-item">
        <div class="game-details">
          <div class="image-container">
            <a [routerLink]="['/game', game.id]" (click)="viewGameDetails(game.id)">
              <img class="game-image" [src]="game.imageUrl" alt="Game Image">
            </a>
          </div>
          <div class="game-info">
            <h6>{{ game.name }}</h6>
            <p>{{ game.publisherName }}</p>
            <p>Price: {{ game.price }}</p>
          </div>
          <div class="add-to-cart">
            <button *ngIf="!isInCart(game.id)" class="add-to-cart-button" (click)="addToCart(game)">
              <img ngSrc="./assets/add_cart.png" alt="Add to Cart" height="512" width="512">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
