.card {
  color: var(--text-color);
  background: var(--dark-color);
}

.game-grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .game-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.game-item {
  text-align: center;
}

.image-container {
  width: 100%;
  padding-bottom: 100%; /* Maintain a square aspect ratio */
  position: relative;
}

.game-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-top: 10px;
}

.add-to-cart-button, .delete-game-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.add-to-cart-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.delete-game-button img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.add-to-cart {
  display: flex;
}

